.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navLink {
  margin-right: 10px;
}

.navProfileItem {
  button {
    margin-right: 10px;
  }
}